# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# Temporary files
temp_photos/
*.jpg
*.mp4
*.png

# Cookies
cookies.pklgoogle-chrome-stable_current_amd64.deb
google-chrome-stable_current_amd64.deb
google-chrome-stable_current_amd64.deb
